<html ng-app="tictac">
  <head>
    <title>Jogo da Velha</title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="style.css"></link>
	
	
	
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

 </head>
  <body>
 <div class="container" ng-controller="game">
<div class="jumbotron">
<h2>Jogo da Memória</h2>
<ul class="list-group col-md-2">
	<li class="list-group-item">
	<a class="btn btn-primary btn-lx"  ng-click="iniciarJogo()" ng-show="exibeBotao">Iniciar Partida</a>
	<a class="btn btn-primary btn-lx" ng-click="iniciarJogo()" ng-show="!exibeBotao">Reiniciar Partida</a>
	</li>
	<li class="list-group-item">
	<span class="badge">{{totalPontos}}</span>
	Total de acertos
	</li>
	<li class="list-group-item">
	<span class="badge">{{totalErros}}</span>
	Total de Erros
	</li>
	<li class="list-group-item">
	<span class="badge">{{textoTempo | date: 'HH:mm:ss'}}</span>
	Tempo:
	</li>
</ul>
<div class="alert alert-success " role="alert" ng-show="venceu">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Parabens!</strong> Você venceu !!!!!!!!!!!!!!!!!!!!!
</div>
<div class="alert alert-danger " role="alert" ng-show="perdeu">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>Você Perdeu!</strong> Tente novamente !!!!!!!!!!!!!!!!!!!!!
</div>
</div>
  <div class="main" id="main" >
	  <div class="col-xs-4 casa glyphicon " ng-class="peca" ng-click="jogar($index)" 
	   ng-repeat="dado in tabuleiro track by $index" >
	 	<a class="thumbnail">
	 	<img ng-src="{{dado.selecionando  ? dado.nome : dado.fundo}}" /> 
	  	</a>
	  </div>
	 
  </div>
  
</div>


  </body>
  <script src="js/angular.min.js"></script>
  <script src="js/tictac.js"></script>
  <script> </script>
</html>